.step-container {
  flex-direction: column;
  display: grid;
  gap: 10px;
}

.input-container-otp {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input-container-otp input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .forget-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(181, 181, 219);
}

.forget-container h1 {
  text-align: center;
}

.step {
  margin-bottom: 20px;
}

.step p {
  margin-bottom: 10px;
}

.step input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.forget-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 26px;
}

.forget-container button:hover {
  background-color: #45a049;
}

.sucessful-link {
  font-size: 20px;
  color: burlywood;
}

.sucessful-link:hover {
  color: red;
  opacity: 0.7;
}

.sucessful-link:active {
  opacity: 1;
} */
