.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
}

@media screen and (max-width: 1024px) {
  .spinner-container {
    margin-top: 43%;
  }
}

@media screen and (max-width: 600px) {
  .spinner-container {
    margin-top: 80%;
  }
}
