.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
  gap: 20px;
  background: var(--color-bg-variant);
  background-image: url(../../assets/TeedeeposhBackground.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

.checkout-container .goback {
  position: absolute;
  top: 40px;
  left: 10px;
  color: var(--color-white);
  padding: 4px;
  background-color: var(--color-bg);
  font-size: 20px;
  cursor: pointer;
}

.checkout-container h2 {
  color: var(--color-primary);
  font-size: 15px;
}

.checkout-container select {
  padding: 5px;
  color: var(--color-bg);
  width: 200px;
}
.address-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.address-input-container label {
  font-style: italic;
  font-size: 13px;
  color: var(--color-primary);
}

.checkout-container button {
  padding: 10px;
  background-color: var(--color-bg);
  color: var(--color-white);
  cursor: pointer;
}
.payment-cart-container {
  height: 37%;
  overflow-y: auto;
  position: absolute;
  top: 50px;
}

.payment-cart-items {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.payment-cart-items img {
  border-radius: 50%;
}

.payment-cart-items h5 {
  font-size: 10px;
}

.payment-address-container h4 {
  margin-top: 250px;
  color: var(--color-primary-variant);
}

.payment-contact {
  display: flex;
  flex-direction: column;
  font-style: italic;
  gap: 6px;
  font-size: 12px;
}
/* for address */
/* .checkout-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  background-color: rgb(219, 237, 243);
}

.info {
  color: navy;
  margin-bottom: 20px;
}

.info span {
  font-size: 20px;
  color: blue;
}
.checkout-container .content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-container .content-container .headers {
  color: navy;
  margin-bottom: 10px;
}

.checkout-container .content-container select {
  padding: 7px;
  max-width: 200px;
  font-size: 16px;
  color: rgb(66, 74, 169);
  font-weight: 700;
}

.place-option {
  color: rgb(20, 111, 201);
  background-color: #d0d8e2;
}

.home-address {
  padding: 5px;
  max-width: 250px;
  height: 20px;
  font-size: 16px;
  color: rgb(66, 74, 169);
  font-weight: 550;
}

.payment-button {
  padding: 10px;
  width: 70%;
  margin-left: 12.5%;
  cursor: pointer;
  background-color: navy;
  color: white;
  border: none;
  font-size: 18px;
}

.payment-button:hover {
  opacity: 0.5;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-address {
  padding: 10px;
  background-color: rgb(164, 169, 235);
  margin-bottom: 10px;
}
button {
  padding: 10px;
}

.paystack-button {
  padding: 10px;
  border: none;
  background-color: rgb(179, 2, 2);
  color: rgb(210, 204, 204);
  margin-bottom: 10px;
  cursor: pointer;
}

.paystack-button:hover {
  opacity: 0.5;
} */
