.register-container {
  display: grid;
  flex-direction: column;
}
/*

.input-container {
  margin: 10px 0;
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding-left: 40px;
}
 
.password-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-primary-variant);
  cursor: pointer;
}

.input-container .icon {
  position: absolute;
  color: var(--color-primary);
  top: 10px;
  left: 10px;
  cursor: default;
}
.login-container .login-button {
  padding: 10px;
  margin-bottom: 20px;
} */

/* .register-container {
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgb(181, 181, 219);
}

.register-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"],
.sign-button,
.register-container form textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register-container form label,
.sign-button {
  margin-top: 1rem;
}

.sign-button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.signin {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 20px;
}

.signin a {
  margin-left: 5px;
}

.signin a:hover {
  color: red;
  opacity: 0.6;
}

.signin a:active {
  opacity: 1;
} */
