.login-container {
  width: 90%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(181, 181, 219);
  margin-top: 10px;
  margin-bottom: 50px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.login-container form input[type="email"],
.login-container form input[type="password"] {
  font-size: 22px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  width: 87%;
}

.login-container form label,
.sign-button {
  margin-top: 1rem;
}

.login-container form label {
  font-size: 22px;
}

.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-div button {
  border: none;
  padding: 5px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  margin-left: -36px;
  margin-bottom: 14px;
  color: aqua;
}
.sign-button {
  padding: 0.5rem;
}

.persistCheck {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.persistCheck [type="checkbox"] {
  height: 24px;
  width: 24px;
  margin: 12px 5px 2px 2px;
}

.forget,
.create {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 20px;
}

.forget a:hover,
.create a:hover {
  color: red;
  opacity: 0.6;
}

.forget a:active,
.create a:active {
  opacity: 1;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.sign-button {
  display: inline-block;
  font-size: 20px;
}

.sign-button a {
  margin-left: 5px;
}
